---
import MainLayout from "../layouts/MainLayout.astro"
import Layout2 from "../layouts/Layout2.astro"
import Rows from "../components/Rows.astro"
import Title from "../components/Title.astro"

import { splitImages } from "../utils/functions.js";
import { getData } from "../utils/crud";
const {api} = Astro.locals; 
const painting = await getData(api+"?model=painting&getAll=true");
---

<MainLayout>
    <Layout2>
        <div style="background:rgba(255,255,255,0.6)" class="flex flex-col gap-2 w-screen py-20 px-5 sm:px-40">
            <Title title="Painting"/>

            {splitImages(painting).map((arr, index) => (
                <Rows images={arr} key={index} />
            ))

            }
        </div>

    </Layout2>
</MainLayout>