---
import MainLayout from "../../layouts/MainLayout.astro"
import Layout2_admin from "../../layouts/Layout2_admin.astro"

import AdminLayout from "../../layouts/AdminLayout.astro"
import Button from "../../components/Button"
import WebSettings from "../../components/admin/WebSettings"

---

<AdminLayout>
    <Layout2_admin>
        <div class='flex flex-col gap-2 p-6'>
       <WebSettings client:load />
       </div>
    </Layout2+_admin>
</AdminLayout>