
<div class='sm:relative absolute flex flex-col gap-4 bg-gray-800 text-white p-4 h-screen w-1/4'>
        <h1 class='text-2xl font-semibold text-left'>Admin Dashboard</h1>
        <div class='flex flex-col gap-4'>
            <a href={'/admin/projects'} class='text-lg font-semibold'>Projects</a>
            <a href={'/admin/products'} class='text-lg font-semibold'>Products</a>
            <a href={'/admin/photography'} class='text-lg font-semibold'>Photography</a>
            <a href={'/admin/illustrations'} class='text-lg font-semibold'>Illustrations</a>
            <a href={'/admin/tradingcards'} class='text-lg font-semibold'>Trading cards</a>
            <a href={'/admin/painting'} class='text-lg font-semibold'>Painting</a>
            <a href={'/admin/websettings'} class='text-lg font-semibold'>Website Settings</a>
            <div ><a class='text-lg font-semibold'>Logout</a></div>
        </div>

</div>