---
const { title = "Title", size="text-4xl" } = Astro.props;
---
<div class="relative w-fit flex self-center pb-2 items-center justify-center">
<div style={"background: linear-gradient(to right, #6366f1, #ec4899);"} class="absolute title-border w-2/5 h-[1.5px] left-0 top-0"></div>
<h1 class={`sm:text-3xl text-xl font-bold text-center text-[#F28F38]`}>{title}</h1>
<div style={"background: linear-gradient(to right, #6366f1, #ec4899);"} class="absolute title-border w-2/5 h-[1.5px] left-0 bottom-0"></div>
</div>