---
import MainLayout from "../../layouts/MainLayout.astro"
import Layout2_admin from "../../layouts/Layout2_admin.astro"

import AdminLayout from "../../layouts/AdminLayout.astro"
const { title } = Astro.locals;
---

<AdminLayout>
    <Layout2_admin>
        <h1>{title}</h1>
    </Layout2_admin>
</AdminLayout>