---
// pages/admin/projects.astro
import AdminLayout from "../../layouts/AdminLayout.astro"
import Layout2_admin from "../../layouts/Layout2_admin.astro"
import ProjectPopUp from "../../components/admin/ProjectPopUp"
import CrudWrapper from "../../components/admin/Crudwrapper.jsx"
import { getData } from "../../utils/crud"

const { api } = Astro.locals; 
const projects = await getData(api + "?model=project&getAll=true");
---

<AdminLayout>
  <Layout2_admin>
    <div class="flex flex-col p-6">
      <ProjectPopUp title={"Projects"} client:load />
      <CrudWrapper projects={projects} client:load />
    </div>
  </Layout2_admin>
</AdminLayout>
