---
import MainLayout from "../../layouts/MainLayout.astro"
import Layout2_admin from "../../layouts/Layout2_admin.astro"

import AdminLayout from "../../layouts/AdminLayout.astro"
import Button from "../../components/Button"
import ProjectPopUp from "../../components/admin/ProjectPopUp"
import { splitImages } from "../../utils/functions"
import { getData } from "../../utils/crud"
import Rows from "../../components/Rows.astro"
const {api} = Astro.locals; 
const tradingcards = await getData(api+"?model=tradingcards&getAll=true");
---

<AdminLayout>
    <Layout2_admin>
        <div class='flex  flex-col gap-2 p-6'>
            <ProjectPopUp title={"Trading cards"} client:load/>   
            {splitImages(tradingcards).map((arr, index) => (
                <Rows images={arr} key={index} isAdmin="true" />
            ))

            }
        
    </div>
    </Layout2_admin>
</AdminLayout>